<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
	
	<meta charset="urf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<% if false %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 	 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<% end %>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if false #trying a header instead %>
		<div id="sidebar">
			<div id="logo">
				<%= link_to root_path do %>
					<% image_tag "nick.jg" %>
				<% end %>
			</div>

			<ul>
				<li class="category">Website</li>
				<li><%= link_to "Blog", root_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>

			<ul>
				<li class="category">Social</li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
			
			<% if !user_signed_in? %>
				<p class="sign_in">Login</p>
			<% end %>
		</div>
	<% end %>

	<div id="main_content">
		<% if false %>
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>
				
			<% if user_signed_in? %>	
				<div class="buttons">
					<button class="button"><%= link_to "New Post", new_post_path %></button>
					<button class="button"><%= link_to "Log Out" %></button>
				</div>
			<% end %>
		</div>
		<% end %>
			
			<nav class="top-bar" data-topbar role="navigation">
	        <ul class="title-area">
	          <li class="name">
	              
	            <h1><a href="#">Nick Calabro</a></h1>
	          </li>
	          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	        </ul>

	        <section class="top-bar-section">
	         
	          <ul class="right">
	            <li><a href="#">Home</a></li>
	            <li><a href="#">About</a></li>
	          </ul>
	        </section>
	    </nav>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>
		
		<%= yield %>
		
	</div>
</body>

	<footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>&#169; Nick</p>
            </div>
          </div>
        </div>
   </footer>

</html>
